<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="../components/angular/angular.js"></script>
	<script src="../js/controllers/moneybook.js"></script>
	<link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
	<link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="moneyBook" ng-controller="moneyBookCtrl">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="table table-striped">
				<col style="width:15%" />
				<col style="width:35%" />
				<col style="width:25%" />
				<col style="width:25%" />
				<thead>
				<tr>
					<th>No</th> <th>날짜</th> <th>내용</th> <th>금액</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="record in records">
					<td>{{$index}}</td>
					<td>{{record.date}}</td>
					<td>{{record.description}}</td>
					<td>{{record.money}}원</td>
				</tr>
				<tr>
					<td colspan="2"><input type="text" class="form-control btn-block" ng-model="record.description"></td></td>
					<td colspan="2"><input type="text" class="form-control btn-block" ng-model="record.money"></td></td>
				</tr>
				<tr>
					<td colspan="4" class="text-right">잔고 : {{totalMoney()}} 원</td>
				</tr>
				</tbody>
			</table>

			<p>
				<button class="btn btn-primary" ng-click="loadData()"> 가계부 불러오기 </button>
				<button class="btn btn-success" ng-click="pushData(record)"> 가계부 작성 </button>
			</p>
		</div>
	</div>
</body>
</html>
